@import "tailwindcss";

:root {
  --color-background: #F9E0D9;
  --color-foreground: #1A1B25;
  --color-primary: #F2542D;
  --color-accent: #f0eeee;
}

@theme {
  --color-background: #F9E0D9; 
  --color-foreground: #1A1B25;
  --color-primary: #F2542D;
  --color-accent: #f0eeee;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}